# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Zoom In': 'atom-mindmap:zoomIn',
      'Zoom Out': 'atom-mindmap:zoomOut',
      'Reset Zoom': 'atom-mindmap:zoomReset'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-mindmap'
      'submenu': [
        { 'label': 'Toggle', 'command': 'atom-mindmap:toggle' },
        { 'label': 'Zoom In', 'command': 'atom-mindmap:zoomIn'},
        { 'label': 'Zoom Out', 'command': 'atom-mindmap:zoomOut'},
        { 'label': 'Reset Zoom', 'command': 'atom-mindmap:zoomReset'}
      ]
    ]
  }
]
